body {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.box-test {
  background-color: wheat;
  border: 0.3vh solid wheat;
  box-shadow: 2vh 2vh 0.3vh rgba(0,0,0,0.3);
  margin: 5vh;
  padding-bottom: 5vh;
  height: 85vh;
}

.font-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 6vh;
}

.font-subtitle {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4vh;
}

.font-text {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.7vh;
}

.profile-pic {
  display: block;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  border-radius:100%;
  box-shadow: 0 0 0.5vh 0.5vh rgba(0,0,0,0.3);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: midnightblue;
}
